@page
@model Med_Star.Pages.Branches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].BranchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].Postcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Branch) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BranchId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BranchId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BranchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
